.moviesList{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    justify-content: center;
}

.moviesListWrapper {
    display: flex;
    justify-content: center;
    min-width: 480px;
}

.moviesList div a {
    text-decoration: none;
}

.moviesList-container {
    min-height: 100%;
    height: auto;
    min-width: 480px;
    max-width: 1280px;
}
