.moviesList{
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    justify-content: center;
}

.moviesListWrapper {
    display: flex;
    justify-content: center;
}

.moviesList div a {
    text-decoration: none;
    color: black;
}

.moviesList-container {
    min-height: 100%;
    height: auto;
}
