

.movieInfoContentWrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 18px;
    /*max-width: 1280px;*/
    /*min-width: 480px;*/
}

.movieInfoContent {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

}

.movieInfoImage {
    width: 50%;
}

.movieInfoImage img {
    border-radius: 10px;
}

.movieInfoText {
    text-align: justify;
    width: 50%;

}

.movieInfoUpperBox {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.movieInfoUpperBox_title {
    text-align: center;
}

.movieInfoUpperBox_content {
    display: flex;
}

.movieInfoBottomBox {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    min-width: 480px;

}

.movieInfoBottomBoxTitle {
    text-align: center;
}

.homepage-link {
    color: black;
}

.homepage-link_black {
    color: white;
}

.movieInfoHomepageButton {
    border: transparent;
    background: transparent;
    font-size: 18px;
    font-family: 'Linux Libertine', 'Georgia', 'Times', 'sans-serif';
}

.movieInfoHomepageButton_black {
    color: white;

}

.movieVideo {
    display: flex;
    justify-content: center;
    align-items: center;
}
