.singleMovie {
    /*background: linen;*/
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
}

.title {
    text-align: center;

}

.link {
    color: black;
}

.link_black{
    color: white;
}
