.footer {
    display: flex;
    flex-flow: row;
    background: #b20808;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: auto;
    margin-bottom: 0px;
    bottom: 0px;
}

.footer-button-container {
    display: flex;
    justify-content: space-between;
}

.footer-navigation {
    width: 600px;
}

.footer-button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: transparent;
    font-size: 16px;
}

.footer-button_dark {
    color: white;
}
